@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
    min-width: 570px;
    background:  #ffffff;
}

.outside-container{
background-color: #00305B;
height: 800px;
margin: 50px;
border-radius: 100px;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    bottom: 350px;
}

h1{
    color: #ffffff;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 75px;
}

.label-float input{
    padding-left: 8px;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 5px;
    width: 348px;
    height: 64px;
    border-color: rgba(0, 0, 0, 0.26);
   
}

.label-float {
 
    position: relative;
    padding-bottom: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border: 2px solid #4038a0;
}

.label-float label:focus{
    color: red;
}

.label-float label{
    text-transform: uppercase;
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 13px;
    transition: all .3s ease-out;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
}

button{
    border-radius: 5px;
    border: none;
    background: #D60A0B;
    background-color:  #D60A0B;
    color:  #ffffff;
    padding: 7px;   
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #FFFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button:hover{
    background-color:  #D60A0B;
    color: #fff;
}

.justify-center{
    display: flex;
    justify-content: center;
}

hr{
    background-color: #272262;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

p{
    color: #14238A;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

a{
    color: rgb(201, 1, 1);
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: #272262;
    transition: all .4s ease-out;
}

.fa-eye{
    position: absolute;
    top: 22px;
    right: 20px;
    cursor: pointer;
    color: #272262c5;
}